registry=https://pkgs.dev.azure.com/costcocloudops/77db910e-976c-4c5f-bb7b-bbc9fb962cf5/_packaging/TheForge/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/costcocloudops/77db910e-976c-4c5f-bb7b-bbc9fb962cf5/_packaging/TheForge/npm/registry/:username=costcocloudops
//pkgs.dev.azure.com/costcocloudops/77db910e-976c-4c5f-bb7b-bbc9fb962cf5/_packaging/TheForge/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/costcocloudops/77db910e-976c-4c5f-bb7b-bbc9fb962cf5/_packaging/TheForge/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/costcocloudops/77db910e-976c-4c5f-bb7b-bbc9fb962cf5/_packaging/TheForge/npm/:username=costcocloudops
//pkgs.dev.azure.com/costcocloudops/77db910e-976c-4c5f-bb7b-bbc9fb962cf5/_packaging/TheForge/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/costcocloudops/77db910e-976c-4c5f-bb7b-bbc9fb962cf5/_packaging/TheForge/npm/:email=npm requires email to be set but doesn't use the value
; end auth token

